<!DOCTYPE html>
<html lang="en">
<head>
  <title>SafeDrive AI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
      <style>
        .traffic-light {
            width: 100px;
            height: 300px;
            background-color: #ccc;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: auto;
        }
        
        .light {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        
        .red {
            background-color: red;
        }
        
        .yellow {
            background-color: yellow;
        }
        
        .green {
            background-color: green;
        }
        
        .off {
            background-color: grey;
        }
    </style>

</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h1>SAFE DRIVE AI</h1>
      <ul class="nav nav-pills nav-stacked">
        {% for key in menu %}
        <li><h3><a href="{{menu[key]}}">{{key}}</a></h3></li>
        {% endfor %}
      </ul><br>      
    </div>
    <div class="col-sm-9">
      <h4><small>TRAFFIC LIGHT CONTROL SYSTEM</small></h4>
      <hr>
      <br>

      <form action="/traffic_control" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>Camera 1</label>
          <input type="file" class="form-control" name="junction1" placeholder="Select the Image Path">
        </div>   
        <div class="form-group">
          <label>Camera 2</label>
          <input type="file" class="form-control" name="junction2" placeholder="Select the Image Path">
        </div>  
        <div class="form-group">
          <label>Camera 3</label>
          <input type="file" class="form-control" name="junction3" placeholder="Select the Image Path">
        </div>
        <div class="form-group">
          <label>Camera 4</label>
          <input type="file" class="form-control" name="junction4" placeholder="Select the Image Path">
        </div>           
        <button type="Submit" class="btn btn-primary">Upload and Control Traffic</button>
      </form>
      <br>

      {%if status == 1%}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Time Stamp</th>
            <th scope="col">Car</th>
            <th scope="col">Motor Bike</th>
            <th scope="col">Bus</th>
            <th scope="col">Truck</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{datetime}}</th>
            <td> {{vehicle_segregated_count1['car']}}</td>
            <td> {{vehicle_segregated_count1['motorbike']}}</td>
            <td> {{vehicle_segregated_count1['bus']}}</td>
            <td> {{vehicle_segregated_count1['truck']}}</td>
          </tr>
          
        </tbody>
      </table>
      <br>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Time Stamp</th>
            <th scope="col">Car</th>
            <th scope="col">Motor Bike</th>
            <th scope="col">Bus</th>
            <th scope="col">Truck</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{datetime}}</th>
            <td> {{vehicle_segregated_count2['car']}}</td>
            <td> {{vehicle_segregated_count2['motorbike']}}</td>
            <td> {{vehicle_segregated_count2['bus']}}</td>
            <td> {{vehicle_segregated_count2['truck']}}</td>
          </tr>
          
        </tbody>
      </table>
      <br>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Time Stamp</th>
            <th scope="col">Car</th>
            <th scope="col">Motor Bike</th>
            <th scope="col">Bus</th>
            <th scope="col">Truck</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{datetime}}</th>
            <td> {{vehicle_segregated_count3['car']}}</td>
            <td> {{vehicle_segregated_count3['motorbike']}}</td>
            <td> {{vehicle_segregated_count3['bus']}}</td>
            <td> {{vehicle_segregated_count3['truck']}}</td>
          </tr>
          
        </tbody>
      </table>
      <br>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Time Stamp</th>
            <th scope="col">Car</th>
            <th scope="col">Motor Bike</th>
            <th scope="col">Bus</th>
            <th scope="col">Truck</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{datetime}}</th>
            <td> {{vehicle_segregated_count4['car']}}</td>
            <td> {{vehicle_segregated_count4['motorbike']}}</td>
            <td> {{vehicle_segregated_count4['bus']}}</td>
            <td> {{vehicle_segregated_count4['truck']}}</td>
          </tr>
          
        </tbody>
      </table>
      <br>

      {%endif%}

      <br>
      {{traffic_control_data}}
      {% if traffic_control_data%}
      {% if traffic_control_data[0] ==1%}
      <table class="table">
        <tr>
          <td>
            <div class="traffic-light">
            <div class="light off"></div>
            <div class="light off"></div>
            <div class="light green"></div>
            </div>
          </td>
          <td>
            <div class="traffic-light">
            <div class="light red"></div>
            <div class="light off"></div>
            <div class="light off"></div>
            </div>
          </td>
          <td>
            <div class="traffic-light">
            <div class="light red"></div>
            <div class="light off"></div>
            <div class="light off"></div>
            </div>
          </td>
          <td>
            <div class="traffic-light">
            <div class="light red"></div>
            <div class="light off"></div>
            <div class="light off"></div>
            </div>
          </td>
        </tr>
      </table>
      {%endif%}

      {% if traffic_control_data[1] ==1%}
      <table class="table">
        <tr>
          <td>
            <div class="traffic-light">
            <div class="light red"></div>
            <div class="light off"></div>
            <div class="light off"></div>
            </div>
          </td>
          <td>
            <div class="traffic-light">
            <div class="light off"></div>
            <div class="light off"></div>
            <div class="light green"></div>
            </div>
          </td>
          <td>
            <div class="traffic-light">
            <div class="light red"></div>
            <div class="light off"></div>
            <div class="light off"></div>
            </div>
          </td>
          <td>
            <div class="traffic-light">
            <div class="light red"></div>
            <div class="light off"></div>
            <div class="light off"></div>
            </div>
          </td>
        </tr>
      </table>
      {%endif%}

      {% if traffic_control_data[2] ==1 %}
      <table class="table">
        <tr>
          <td>
            <div class="traffic-light">
            <div class="light red"></div>
            <div class="light off"></div>
            <div class="light off"></div>
            </div>
          </td>
          <td>
            <div class="traffic-light">
            <div class="light red"></div>
            <div class="light off"></div>
            <div class="light off"></div>
            </div>
          </td>
          <td>
            <div class="traffic-light">
            <div class="light off"></div>
            <div class="light off"></div>
            <div class="light green"></div>
            </div>
          </td>
          <td>
            <div class="traffic-light">
            <div class="light red"></div>
            <div class="light off"></div>
            <div class="light off"></div>
            </div>
          </td>
        </tr>
      </table>
      {%endif%}

      {% if traffic_control_data[3] ==1%}
      <table class="table">
        <tr>
          <td>
            <div class="traffic-light">
            <div class="light red"></div>
            <div class="light off"></div>
            <div class="light off"></div>
            </div>
          </td>
          <td>
            <div class="traffic-light">
            <div class="light red"></div>
            <div class="light off"></div>
            <div class="light off"></div>
            </div>
          </td>
          <td>
            <div class="traffic-light">
            <div class="light red"></div>
            <div class="light off"></div>
            <div class="light off"></div>
            </div>
          </td>
          <td>
            <div class="traffic-light">
            <div class="light off"></div>
            <div class="light off"></div>
            <div class="light green"></div>
            </div>
          </td>
        </tr>
      </table>
      {%endif%}
      {%endif%}
     
    </div>   
    
      <br><br>
      
      
    </div>
  </div>
</div>

</body>
</html>
